@import '~@angular/material/theming';
@include mat-core();

$primary: (
  Main: #0e7cb9,
  Light: #5aabec,
  Dark: #005089,
  contrast: (
    Main: #fff,
    Light: #000,
    Dark: #fff
  )
);
$accent: (
  Main: #65b3cc,
  Light: #98e5ff,
  Dark: #2f839b,
  contrast: (
    Main: #fff,
    Light: #fff,
    Dark: #fff
  )
);
$warn: $mat-red;

$exadel-theme-primary: mat-palette($primary, Main, Light, Dark);
$exadel-theme-accent: mat-palette($accent, Main, Light, Dark);
$exadel-theme-warn: mat-palette($mat-red);
//creating your theme
$exadel-theme: mat-light-theme(
  (
    color: (
      primary: $exadel-theme-primary,
      accent: $exadel-theme-accent,
      warn: $exadel-theme-warn
    )
  )
);
//updating main theme
@include angular-material-theme($exadel-theme);
@mixin angular-material-theme($theme) {
  @include mat-button-theme($theme);
  @include mat-button-toggle-theme($theme);
  @include mat-card-theme($theme);
}
