// text styling
$text-primary: #3d3d3d;
$text-secondary: #787d7e;

// buttons and link styling
$blue-primary: #0e7cb9;
$blue-accent: #65b3cc;

// background styling
$background-light: #fefefe;
$background-blue: rgba(101, 179, 204, 0.2);

// border styling
$border-primary: 1px solid rgba(61, 61, 61, 0.4);

// @media points
$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;
