<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav [(opened)]="opened" position="end">
    <div class="sidenav__header">
      <span class="sidenav__username">Name Surname</span>
      <button
        class="button button_no-hover"
        mat-icon-button
        (click)="sidenav.close()"
      >
        <mat-icon class="icon icon_l">perm_identity</mat-icon>
      </button>
    </div>
    <div class="sidenav__content">
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          <mat-icon>history</mat-icon>
          <span>History</span>
        </a>
        <a mat-list-item routerLink="." (click)="sidenav.close()">
          <mat-icon>star_border</mat-icon>
          <span>Bookmarks</span>
        </a>
        <a
          mat-list-item
          routerLink="admin"
          *ngIf="!adminVisible; else homePageButton"
          (click)="sidenav.close()"
          (click)="toggleAdminPage()"
        >
          <mat-icon>build</mat-icon>
          <span>Manage</span>
        </a>
        <ng-template #homePageButton>
          <a
            mat-list-item
            routerLink="home"
            (click)="sidenav.close()"
            (click)="toggleAdminPage()"
          >
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </a>
        </ng-template>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <div class="sidenav__toolbar">
        <app-location></app-location>
        <app-language></app-language>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sidenav__footer">
      <span class="sidenav__logout">Logout</span>
      <button class="button button_no-hover" mat-icon-button routerLink="login">
        <mat-icon class="icon icon_l">logout</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      [(sidenavVisibility)]="opened"
      [(adminPageVisibility)]="adminVisible"
    ></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
