@import '/src/app/styles/custom-theme.scss';
@import '/src/app/styles/variables.scss';

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1 0 1px;
  overflow: hidden;
}

.sidenav {
  width: 280px;
  color: $text-primary;
  background-color: $background-light;

  &::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-flow: column;
  }

  &__content {
    flex: 1 0 1px;
  }

  &__toolbar {
    display: none;
  }

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $large-height;
    padding: 0 1em;
  }

  &__header {
    cursor: pointer;
  }

  &__footer {
    flex-shrink: 0;
    background-color: $background-blue-light;
  }

  &__username,
  &__logout {
    font-size: 1.4em;
    margin-right: 1em;
  }

  mat-nav-list {
    .nav__button {
      display: none;
    }

    padding: 0;

    mat-icon {
      padding-bottom: 10px;
      font-size: 2em;
      margin-right: 1em;
    }

    span {
      font-size: 1.4em;
    }
  }

  @media screen and (max-width: $tablet) {
    &__header,
    &__footer {
      height: $medium-height;
    }

    &__toolbar {
      display: flex;
      justify-content: center;
      height: $large-height;
    }

    mat-nav-list {
      .nav__button {
        display: block;
      }

      span {
        font-size: 1.2em;
      }

      mat-icon {
        padding-bottom: 5px;
        font-size: 1.5em;
      }
    }
  }
}
