@import '../../styles/custom-theme.scss';

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 320px;
  max-width: 100%;
}

mat-sidenav-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1;
}
