<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    #sidenav
    [(opened)]="navigationService.isSidenavOpened"
    position="end"
  >
    <div class="sidenav__header" (click)="navigationService.toggleSidenav()">
      <span class="sidenav__username">Name Surname</span>
      <button class="button button_no-hover" mat-icon-button>
        <mat-icon class="icon icon_s_l">perm_identity</mat-icon>
      </button>
    </div>
    <div class="sidenav__content">
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/home/history"
          [routerLink]="['/home', locationService.city$ | async, 'history']"
          (click)="navigationService.toggleSidenav()"
        >
          <mat-icon>history</mat-icon>
          <span>{{ 'history' | translate }}</span>
        </a>
        <a
          mat-list-item
          [routerLink]="['/home', locationService.city$ | async, 'bookmarks']"
          (click)="navigationService.toggleSidenav()"
        >
          <mat-icon>star_border</mat-icon>
          <span>{{ 'bookmarks' | translate }}</span>
        </a>
        <a
          mat-list-item
          routerLink="home"
          *ngIf="navigationService.isHomePageOpened; else adminPageButton"
          (click)="navigationService.toggleSidenav()"
          (click)="navigationService.toggleHomePage()"
        >
          <mat-icon>home</mat-icon>
          <span>{{ 'home' | translate }}</span>
        </a>
        <ng-template #adminPageButton>
          <a
            mat-list-item
            [routerLink]="['admin']"
            (click)="navigationService.toggleSidenav()"
            (click)="navigationService.toggleHomePage()"
          >
            <mat-icon>build</mat-icon>
            <span>{{ 'manage' | translate }}</span>
          </a>
        </ng-template>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <div class="sidenav__toolbar">
        <app-location></app-location>
        <app-language></app-language>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="sidenav__footer">
      <span class="sidenav__logout">{{ 'logout' | translate }}</span>
      <button
        class="button button_no-hover"
        mat-icon-button
        (click)="logout()"
        (click)="navigationService.toggleSidenav()"
        routerLink="login"
      >
        <mat-icon class="icon icon_s_l">logout</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
