@import '../../../styles/custom-theme.scss';
@import '/src/app/styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 0;

  mat-icon {
    padding-bottom: 5px;
  }
}

.cdk-overlay-pane {
  height: 150px;
}

.location {
  font-size: 1.4em;
  border-bottom: 1em solid transparent;
  font-weight: 500;

  &__label {
    color: $text-primary;
  }
}
