@import '/src/app/styles/variables.scss';

::ng-deep #cdk-overlay-0 {
  height: 150px;
}

::ng-deep .mat-input-element::placeholder {
  color: $text-primary;
}

.location {
  font-size: 1.4em;
  bottom: 1em;
  max-width: 140px;
  font-weight: 500;
}
