<form class="location">
  <!-- use "standard" to make floating label as placeholder -->
  <mat-form-field class="location__field" appearance="standard">
    <input
      type="text"
      placeholder="Location"
      aria-label="Location"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      (focusout)="focusOut($event)"
      (focusin)="focusIn($event)"
    />
    <mat-autocomplete
      (optionSelected)="onSelectionChanged($event.option.value)"
      autoActiveFirstOption
      #auto="matAutocomplete"
      class="location__autocomplete"
    >
      <mat-option
        *ngFor="let option of filteredOptions$ | async"
        [value]="option"
        >{{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
