@import '../../../styles/custom-theme.scss';
@import '/src/app/styles/variables.scss';

.cdk-overlay-pane {
  height: 150px;
}

.location {
  font-size: 1.4em;
  border-bottom: 1em solid transparent;
  font-weight: 500;

  &__label {
    color: $text-primary;
  }
}
