<form>
  <!-- use "standard" to make floating label as placeholder -->
  <mat-form-field class="location" appearance="standard">
    <input
      type="text"
      placeholder="Location"
      aria-label="Location"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      (optionSelected)="onSelectionChanged($event.option.value)"
      autoActiveFirstOption
      #auto="matAutocomplete"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
        >{{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
