.button.button {

  &_icon {
    &:focus {
      outline: none;
    }
    &::ng-deep .mat-button-focus-overlay {
      opacity: 0;
    }
  }
}

.button {
  &_l {
    font-size: 1em;
  }
  &_s {
    font-size: 0.5em;
  }
}