@import '../custom-theme.scss';
@import '../variables.scss';
@import './form-field.scss';
@import './slide-toggle.scss';

.form {
  display: flex;
  flex-flow: row wrap;

  &__header {
    display: flex;
    align-items: center;
    height: $large-height;
    width: 100%;
    margin-bottom: 1em;
    padding: 0 1em;
    border-bottom: $border-primary;

    @media screen and (max-width: $tablet) {
      height: $medium-height;
      padding: 0 0.5em;
    }
  }
}

.full-width {
  width: 100%;
}

.shipping-card {
  margin: 20px auto;
  min-width: 120px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 1em;
  @media screen and (max-width: $mobile) {
    margin: 0 0.5em;
  }
}

.col {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 1;
  min-width: 0;
  margin-right: 20px;

  @media screen and (max-width: $mobile) {
    flex: 1 0 100%;
    width: 100%;
  }

  &_group {
    @media screen and (max-width: $desktop) {
      flex: 1 0 100%;
      width: 100%;
    }
  }
}

.col:last-child {
  margin-right: 0;
}

.actions {
  margin: 0 1em 1em auto;
  .button {
    margin-left: 20px;
  }
}
