@import '../custom-theme.scss';
@import '../variables.scss';

.table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  &__body {
    overflow: auto;
    @media screen and (max-width: $mobile) {
      flex: 1 0 1px;
    }

    .full-width-table {
      width: 100%;
      min-width: 600px;

      &::ng-deep .mat-cell {
        padding-right: 0.25em;
        &:first-of-type {
          padding-left: 1em;
        }
      }
    }
    .mat-header-cell {
      background-color: $background-blue-light;
    }

    .text {
      padding-right: 0.5em;
    }
  }

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
  }

  &__header {
    @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__footer {
    background-color: $background-blue-light;
  }

  &__spinner {
    margin: 0 auto;
  }

  &__search {
    margin: 1em 0;
    &::ng-deep .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
    &::ng-deep .mat-form-field-flex {
      align-items: center;
      height: 46px;
    }
    &_hidden {
      display: none;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &__filter {
    align-items: center;
    height: 42px;
    text-align: center;
  }

  &__paginator {
    margin-left: auto;
    background-color: transparent;

    &::ng-deep .mat-paginator-page-size-label,
    &::ng-deep .mat-paginator-range-label {
      margin: 0;
    }

    @media screen and (max-width: $mobile) {
      &::ng-deep .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }
}

.button {
  &_edit {
    width: max-content;
  }
}

.spacer {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
