@import '/src/app/styles/custom-theme.scss';
@import '/src/app/styles/variables.scss';

.admin-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;

  &_hidden {
    display: none;
  }
}

.admin-sidenav {
  &__container {
    height: 100%;
  }

  &__drawer {
    width: 200px;
    background: inherit;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }

  &__list {
    padding: 0;
  }

  &__card {
    flex: 1 0 1px;
    padding: 0;
    overflow: auto;
  }

  &__card-content {
    height: 100%;
  }
}

.mat-sidenav-fixed {
  position: absolute;
}

.mat-list-item {
  &_active {
    background-color: $background-blue-light;
    &:hover,
    &:focus {
      background-color: $background-blue-light;
    }
  }
}
