<mat-toolbar
  class="admin-toolbar"
  [class.admin-toolbar_hidden]="(isHandset$ | async) === false"
>
  <button
    class="button button_no-hover"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"
  >
    <mat-icon class="icon icon_l">menu</mat-icon>
  </button>
  <span class="admin-toolbar__username">Name Surname</span>
  <button
    class="button button_no-hover"
    mat-icon-button
    (click)="sidenavService.toggle()"
  >
    <mat-icon class="icon icon_l">perm_identity</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="admin-sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [(opened)]="isOpened"
  >
    <mat-toolbar>Moderator panel</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="." (click)="closeSidenav()">Vendors</a>
      <a mat-list-item routerLink="." (click)="closeSidenav()">Offers</a>
      <a mat-list-item routerLink="." (click)="closeSidenav()">Statistics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-table></app-table>
  </mat-sidenav-content>
</mat-sidenav-container>
