@import '@styles//custom-theme.scss';

.admin-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;

  &_hidden {
    display: none;
  }
}

.admin-sidenav {
  &__container {
    height: 100%;
  }

  &__drawer {
    width: 200px;
    background: inherit;
  }

  &__content {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
  }

  &__card {
    padding: 0;
    flex: 1 0 1px;
  }
}

.mat-sidenav-fixed {
  position: absolute;
}
