<div class="rating">
  <input type="radio" name="star" id="Excellent" value="5" />
  <label for="Excellent"></label>

  <input type="radio" name="star" id="Good" value="4" />
  <label for="Good"></label>

  <input type="radio" name="star" id="Normal" value="3" />
  <label for="Normal"></label>

  <input type="radio" name="star" id="Passable" value="2" checked />
  <label for="Passable"></label>

  <input type="radio" name="star" id="Terrible" value="1" />
  <label for="Terrible"></label>
</div>
