mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
  max-width: 100%;
  background-color: aqua;
}

mat-sidenav-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

main {
  flex: 1;
}
