<div class="home">
  <app-toolbar></app-toolbar>
  <button
    class="button button_mobile button_c_icon-primary button_hidden_tablet"
    mat-fab
    (click)="toggleListView()"
  >
    <mat-icon *ngIf="!isListVisible; else mapIcon">list</mat-icon>
    <ng-template #mapIcon>
      <mat-icon>map</mat-icon>
    </ng-template>
  </button>
  <div class="home__main">
    <div class="home__left" [class.home__left_hidden]="!isListVisible">
      <router-outlet></router-outlet>
    </div>
    <app-map class="home__right"></app-map>
  </div>
</div>
