:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);

  .home {
    &__main {
      display: flex;
      height: 100%;
    }
    &__left,
    &__right {
      flex-grow: 1;
    }
  }
}
