@import '/src/app/styles/variables.scss';
@import '/src/app/styles/custom-theme.scss';

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__button {
    display: none;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1101;
  }

  &__main {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__left {
    max-width: calc(#{$large-desktop} / 2);
    background-color: $background-normal;
    position: relative;
  }

  &__right,
  &__left {
    width: 100%;
  }

  @media screen and (max-width: $tablet) {
    &__left,
    &__right {
      flex-shrink: 0;
    }

    &__right {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }

    &__left {
      transition: opacity 0.1s linear;
      z-index: 1100;
      &_hidden {
        opacity: 0;
        transition: opacity 0.1s linear, z-index 0s 0.1s;
        z-index: 0;
      }
    }
  }
}
