@import '/src/app/styles/variables.scss';

.search-form {
  max-width: 260px;
  margin-left: 1em;

  &__field {
    display: flex;
    border: $border-primary;
    border-radius: 25px;
    background-color: #fff;
  }

  @media screen and (max-width: $tablet) {
    max-width: 100%;
    margin: 10px 10px 0px 10px;
    opacity: 1;
  }

  &__input {
    width: 100%;
    margin-left: 1em;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    outline: none;
  }

  &__button {
    color: $blue-primary;
  }
}
