@import '/src/app/styles/variables.scss';
@import '/src/app/styles/custom-theme.scss';

.search-form {
  max-width: 260px;
  margin-left: 1em;

  &__field {
    display: flex;
    border: $border-primary;
    border-radius: 25px;
  }

  &__input {
    width: 100%;
    margin-left: 1em;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    outline: none;
  }
}
