.example-form {
  min-width: 150px;
  width: 100%;
  margin-left: 1em;
  position: relative;
}

.search {
  padding: 0.3em;
  font-size: 20px;
}

.search-logo {
  position: absolute;
  display: block;
  border: none;
  background-color: #fff;
  background-image: url(/assets/images/search.svg);
  right: 25px;
  bottom: 7px;
  height: 25px;
  width: 25px;
  background-size: contain;
}
