<form class="form" [formGroup]="offerForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form__header">
    <span class="text text_s_l text_c_primary text_upper"
      >{{ 'enter_information_about_offer_of' | translate }}
      <span class="text text_s_l text_c_accent text_upper">
        {{ vendorName }}
      </span></span
    >
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'title' | translate }}</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="offerForm.controls['title'].hasError('required')">
          {{ 'title' | translate }} {{ 'is' | translate }}
          <strong>{{ 'required' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'discount' | translate }}</mat-label>
        <input matInput formControlName="discount" />
        <mat-error *ngIf="offerForm.controls['discount'].hasError('required')">
          {{ 'discount' | translate }} {{ 'is' | translate }}
          <strong>{{ 'required' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'description' | translate }}</mat-label>
        <textarea
          matInput
          formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="8"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col col_group">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'valid_from' | translate }}</mat-label>
          <input type="date" matInput formControlName="dateStart" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'valid_to' | translate }}</mat-label>
          <input type="date" matInput formControlName="dateEnd" />
          <mat-error *ngIf="offerForm.controls['dateEnd'].hasError('required')">
            {{ 'end_date' | translate }} {{ 'is' | translate }}
            <strong>{{ 'required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col col_group">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'promocode' | translate }}</mat-label>
          <input matInput formControlName="promoCode" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'images' | translate }}</mat-label>
          <input matInput formControlName="images" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'offices' | translate }}</mat-label>
        <mat-select
          formControlName="vendorEntitiesId"
          disableOptionCentering
          multiple
        >
          <mat-option *ngFor="let office of vendorOffices" [value]="office.id"
            >{{ office.address.cityId }}, {{ office.address.street }},
            {{ office.address.house }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="offerForm.controls['vendorEntitiesId'].hasError('required')"
        >
          {{ 'offices' | translate }} {{ 'is' | translate }}
          <strong>{{ 'required' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'tags' | translate }}</mat-label>
        <mat-chip-list #tagList aria-label="Tag adding" formControlName="tags">
          <mat-chip *ngFor="let tag of tags">
            {{ tag }}
          </mat-chip>
          <input
            placeholder="{{ 'new_tag' | translate }}"
            [matChipInputAddOnBlur]="true"
            [matChipInputFor]="tagList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTag($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-slide-toggle formControlName="isActive" color="primary">{{
        'activate' | translate
      }}</mat-slide-toggle>
    </div>
  </div>
  <div class="actions">
    <button
      type="button"
      class="button"
      mat-raised-button
      (click)="navigationService.goBack()"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      class="button button_c_icon-primary"
      mat-raised-button
      type="submit"
      (click)="navigationService.goBack()"
      [disabled]="offerForm.invalid"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</form>
