:host::ng-deep .mat-card-header-text {
  margin: 0px; 
}

.offer-card {
  width: 95%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #383c3d;
  &__image {
    display: inline-block;
    width: 100px;
    object-fit: contain;
    height: 75px;
    margin: 0 1em 0 0;
    border-radius: 0%;
  }
  &__discount {
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(230, 162, 106, 0.8);
    color: red;
    min-width: 50px;
    padding: 0.2em 1em;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  &__properties {
    width: 150px;
    align-self: flex-end;
    > mat-icon {
      line-height: 18px;
      font-size: 18px;
      margin-left: 20px;
    }
  }
}
.offer-card-header {
  margin: 0;
  &__title {
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__subtitle {
    margin-bottom: 0;
  }
}

.stars {
  text-align: right;
  margin-bottom: -10px;
  > mat-icon {
    width: 18px;
    font-size: 18px;
  }
}

.statistics {
  text-align: right;
    > mat-icon {
      font-size: 18px;
      line-height: 18px;
    }
  }

@media screen and (max-width: 1024px) {
  .offer-card {
    &__image {
      width: 75px;
      height: 50px;
    }
    &__discount {
      font-size: 16px;
    }
  }
  .offer-card-header {
    &__title {
      max-width: 350px;
      font-size: 16px;
      line-height: 18px;
      max-height: 32px;
    }
  }
  .stars {
    margin-right: 0;
    > mat-icon {
      font-size: 18px;
    }
  }
  .statistics {
    margin-top: 5px;
    &__viewsCount,
    &__usesCount {
      font-size: 14px;
      line-height: 14px;
    }
    >mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
      margin-left: 0.5em;
    }
  }

}

@media screen and (max-width: 768px) {
  .offer-card {
    &__properties {
      min-width: 100px;
    }
  }
  .offer-card-header {
    &__title {
      max-width: 550px;
    }
  }
}
@media screen and (max-width: 425px) {
  .offer-card {
    width: 90%;
    &__image {
      width: 50px;
      height: 30px;
    }
    &__discount {
      font-size: 12px;
    }
    &__properties {
      min-width: 90px;
    }
  }
  .offer-card-header {
    &__title {
      font-size: 12px;
    }
  }
  .stars {
    >mat-icon{
      font-size: 12px; 
      width: 14px;
      height: 14px;

    }
  }
    .statistics {
    &__viewsCount,
    &__usesCount {
      font-size: 12px;
      line-height: 12px;
    }
    >mat-icon {
      font-size: 12px;
      margin-left: 0.5em;
    }
  }
}