<mat-card class="offer-card">
  <mat-card-header *ngIf="offer">
    <img
      class="offer-card__image"
      mat-card-avatar
      src="{{ offer.photoUrl }}"
      alt=""
    />
    <mat-card-title-group class="offer-card-header">
      <mat-card-title class="offer-card-header__title">{{
        offer.title
      }}</mat-card-title>
      <mat-card-subtitle class="offer-card-header__subtitle">{{
        offer.vendorName
      }}</mat-card-subtitle>
    </mat-card-title-group>
    <div class="offer-card__discount">{{ offer.discount }}</div>
  </mat-card-header>
  <div class="offer-card__properties card-properties">
    <div class="stars">
      <mat-icon aria-hidden="false" aria-label="people">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="people">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="people">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="people">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="people">star</mat-icon>
    </div>
    <div class="statistics" *ngIf="offer">
      <mat-icon aria-hidden="false" aria-label="people">visibility</mat-icon>
      <span class="statistics__viewsCount">{{ offer.numberOfViews }}</span>
      <mat-icon aria-hidden="false" aria-label="people">people</mat-icon>
      <span class="statistics__usesCount">{{ offer.numberOfUses }}</span>
    </div>
  </div>
</mat-card>
