:host {
    background-color: rgb(221, 221, 221);
}
.offer-card {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #383C3D;
    &__image {
        position: static;
        display: inline-block;
        width: 100px;
        object-fit: contain;
        height: 75px;
        margin: 0;
        border-radius: 0%;
    }
    &__discount {
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(230, 162, 106, 0.8);
        color: red;
        min-width: 50px;
        padding: 10px 30px;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: 500;
    }
    &__properties {
        width: 150px;
    }
}
.offer-card-header {
    margin: 0;
    &__title {
        font-size: 16px;
        line-height: 24px;
        height: 48px;
        max-width: 500px;
        overflow: hidden;
        white-space:initial;
        text-overflow: ellipsis;
    }
    .offer-card-header__subtitle {
        margin-bottom: 0;
}
}
.offer-card__properties {
    position: absolute;
    bottom: 0;
    right: 0;
    align-self: flex-end;
    justify-self: flex-end;
    >mat-icon {
        line-height: 24px;
        font-size: 16px;
        margin-left: 20px;
    }
}
