.offer-card {
  width: 95%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #383c3d;
  &__image {
    display: inline-block;
    width: 100px;
    object-fit: contain;
    height: 75px;
    margin: 0 0 0 0;
    border-radius: 0%;
  }
  &__discount {
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(230, 162, 106, 0.8);
    color: red;
    min-width: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  &__properties {
    width: 150px;
    align-self: flex-end;
    > mat-icon {
      line-height: 24px;
      font-size: 16px;
      margin-left: 20px;
    }
  }
}
.offer-card-header {
  margin: 0;
  &__title {
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__subtitle {
    margin-bottom: 0;
  }
}

.stars {
  text-align: right;
  font-size: 16px;
  margin-bottom: -10px;
  > mat-icon {
    width: 16px;
    margin-left: 8px;
  }
}

.statistics {
  text-align: right;
}
@media screen and (max-width: 1340px) {
  .stars {
    > mat-icon {
      font-size: 18px;
      margin-left: 2px;
    }
  }
}
@media screen and (max-width: 1140px) {
  .offer-card-header {
    &__title {
      max-width: 400px;
    }
  }
  .stars {
    margin-right: 0;
    > mat-icon {
      font-size: 18px;
      margin-left: 2px;
    }
  }
  .offer-card__properties {
    margin-left: 10px;
  }
}
@media screen and (max-width: 540px) {
  .offer-card {
    width: 90%;
    &__image {
      width: 75px;
      height: 50px;
    }
    &__properties {
      width: 150px;
      align-self: flex-end;
    }
    > mat-icon {
      line-height: 24px;
      font-size: 16px;
      margin-left: 5px;
    }
    &__discount {
      padding: 5px;
      font-size: 16px;
    }
    .offer-card-header {
      margin: 0;
      &__title {
        font-size: 12px;
        line-height: 16px;
        max-height: 32px;
      }
    }
    .statistics {
      &__viewsCount,
      &__usesCount {
        font-size: 10px;
      }
      > mat-icon {
        margin-left: 2px;
        font-size: 16px;
      }
    }
    .card-properties {
      margin-bottom: -15px;
    }
  }
}
@media screen and (max-width: 440px) {
  .offer-card {
    &__discount {
      padding: 5px;
      font-size: 12px;
    }
  }
  .stars {
    min-width: 85px;
    > mat-icon {
      font-size: 12px;
      margin-left: 0;
    }
  }
  .statistics {
    &__viewsCount,
    &__usesCount {
      font-size: 16px;
      margin-left: 0;
      line-height: 16px;
    }
    > mat-icon {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
@media screen and (max-width: 320px) {
  .offer-card {
    &__image {
      width: 50px;
      height: 30px;
    }
    &__discount {
      padding: 5px;
      font-size: 10px;
    }
  }
  .offer-card-header {
    &__title,
    &__subtitle {
      font-size: 10px;
    }
  }
}
