@import '/src/app/styles/components/form.scss';

.row {
  &_top {
    margin-bottom: 1em;
  }
  .button {
    min-width: 120px;
  }
  .text {
    margin-left: 1em;
  }
}

.col {
  &_nowrap {
    flex-flow: row nowrap;
    .col {
      flex: 1 0 0%;
      width: 0;
    }
  }
}
