<form class="form" [formGroup]="officeForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form__header">
    <span class="text text_s_l text_c_primary text_upper"
      >{{ 'enter_information_about_office_of' | translate }}
      <span class="text text_s_l text_c_accent text_upper">
        {{ vendorName }}
      </span></span
    >
  </div>
  <div class="row row_top">
    <div class="col col_nowrap">
      <button
        class="button button_c_icon-primary"
        type="button"
        mat-raised-button
        (click)="openDialog()"
      >
        {{ 'on_map' | translate }}
      </button>
      <span class="text text_s_l">{{
        'address_information_will_be_added_to_the_fields_below' | translate
      }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col col_group">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'country' | translate }}</mat-label>
          <input matInput formControlName="country" />
          <mat-error
            *ngIf="officeForm.controls['country'].hasError('required')"
          >
            {{ 'country' | translate }} {{ 'is' | translate }}
            <strong>{{ 'required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'city' | translate }}</mat-label>
          <input
            matInput
            #cityInput
            formControlName="cityId"
            [matAutocomplete]="auto"
            (blur)="checkCity(cityInput.value)"
            (keyup.enter)="checkCity(cityInput.value)"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="officeForm.controls['cityId'].hasError('required')">
            {{ 'city' | translate }} {{ 'is' | translate }}
            <strong>{{ 'required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col col_group">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'street' | translate }}</mat-label>
          <input matInput formControlName="street" />
          <mat-error *ngIf="officeForm.controls['street'].hasError('required')">
            {{ 'street' | translate }} {{ 'is' | translate }}
            <strong>{{ 'required' | translate }}</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col col_nowrap">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'house' | translate }}</mat-label>
            <input matInput formControlName="house" />
            <mat-error
              *ngIf="officeForm.controls['house'].hasError('required')"
            >
              {{ 'house' | translate }} {{ 'is' | translate }}
              <strong>{{ 'required' | translate }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{ 'room' | translate }}</mat-label>
            <input matInput formControlName="room" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{ 'phone' | translate }}</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="officeForm.controls['email'].hasError('required')">
          E-mail {{ 'is' | translate }}
          <strong>{{ 'required' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="officeForm.controls['email'].hasError('email')">
          E-mail {{ 'is' | translate }}
          <strong>{{ 'incorrect' | translate }}</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-slide-toggle formControlName="isActive">{{
        'activate' | translate
      }}</mat-slide-toggle>
    </div>
  </div>
  <div class="actions">
    <button
      type="button"
      class="button"
      mat-raised-button
      (click)="navigationService.goBack()"
    >
      {{ 'cancel' | translate }}
    </button>
    <button
      class="button button_c_icon-primary"
      mat-raised-button
      type="submit"
      (click)="navigationService.goBack()"
      [disabled]="!officeForm.valid"
    >
      {{ 'save' | translate }}
    </button>
  </div>
</form>
