@import '/src/app/styles/variables.scss';

.form {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;

  &__header {
    height: 56px;
    width: 100%;
    border-bottom: $border-primary;
    span {
      color: $blue-primary;
    }
  }
}

.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  &_nowrap {
    flex-wrap: nowrap;
    .col {
      &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width: $mobile) {
        flex: 1 0 0%;
      }
    }
  }
}

.col {
  flex: 1;
  min-width: 0;
  margin-right: 20px;

  &_group {
    @media screen and (max-width: $desktop) {
      flex: 1 0 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile) {
    flex: 1 0 100%;
    width: 100%;
  }
}

.col:last-child {
  margin-right: 0;
}

.actions {
  margin-left: auto;
  .button {
    margin-left: 20px;
  }
}
