@import '/src/app/styles/variables.scss';
@import '/src/app/styles/components/select.scss';
@import '/src/app/styles/components/form-field.scss';

.sort {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
}
