.logo {
  cursor: pointer;
  height: 35px;
  width: 200px;
  background-image: url(../../../../assets/images/logo.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    height: 35px;
    width: 70px;
    background-image: url(../../../../assets/images/logo_mobile.svg);
  }
}
// component injection
// mat-icon {
//     display: flex;
//     cursor: pointer;
//     height: 100%;
//     width: 70%;
// }
