<div *ngIf="(isLoading$ | async) === false" class="item">
  <app-offer-item [offer]="offer"></app-offer-item>

  <mat-tab-group mat-stretch-tabs class="tab">
    <mat-tab label="{{ 'CARD.DESCRIPTION' | translate }}">
      <div class="item__header">
        <div class="item__date-end">
          {{ 'CARD.VALID_TO' | translate }} {{ offer.dateEnd }}
        </div>
        <div class="item__actions">
          <button
            *ngIf="offer.promocode"
            mat-button
            class="button button_promocode"
            [cdkCopyToClipboard]="offer.promocode"
          >
            {{ offer.promocode }}
            <mat-icon class="item__copy-icon">content_copy</mat-icon>
          </button>
          <button mat-stroked-button class="button button_preorder">
            {{ 'CARD.PRE-ORDER' | translate }}
          </button>
        </div>
      </div>
      <p>
        {{ offer.description || 'CARD.DESCRIPTION_TEXT' | translate }}
      </p>
      <div class="item__footer">
        <div class="item__rate">
          <div class="item__text">{{ 'CARD.RATE' | translate }}</div>
          <button mat-flat-button class="button button_review">review</button>
        </div>
        <div class="item__favorite">
          <div>{{ 'CARD.BOOKMARKS_TEXT' | translate }}</div>
          <button
            mat-icon-button
            color="warn"
            aria-label="button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{ 'CARD.ADDRESSES' | translate }}">
      <div *ngFor="let office of offices" class="address">
        <a
          class="address__link-overlay link"
          [routerLink]="['/home/offices', office.id]"
        ></a>
        <mat-icon class="address__location-icon">location_on</mat-icon>
        <div>
          <div>
            <!-- I'll rewrite it later //TODO(abarmina) -->
            {{
              office.room
                ? office.street + ', ' + office.house + ', ' + office.room
                : office.street + ', ' + office.house
            }}
          </div>
          <a
            href="tel:{{ office.phone }}"
            class="address__phone link link_c_default"
            >{{ office.phone }}</a
          >
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-go-back-button class="desktop"></app-go-back-button>
</div>
