<div *ngIf="(isLoading$ | async) === false" class="item">
  <app-offer-item [offer]="offer"></app-offer-item>

  <mat-tab-group mat-stretch-tabs class="tab">
    <mat-tab label="{{ 'description' | translate }}">
      <div class="item__header">
        <div class="item__date-end">
          {{ 'valid_to' | translate }} {{ offer.dateEnd }}
        </div>
        <div class="item__actions">
          <button
            *ngIf="offer.promocode"
            mat-button
            class="button_upper button_c_primary"
            [cdkCopyToClipboard]="offer.promocode"
          >
            {{ offer.promocode }}
            <mat-icon class="item__copy-icon">content_copy</mat-icon>
          </button>
          <button mat-stroked-button class="button_upper button_c_primary">
            {{ 'pre-order' | translate }}
          </button>
        </div>
      </div>
      <p>
        {{ offer.description || 'description_text' | translate }}
      </p>
      <div class="item__footer">
        <div class="item__rate">
          <div class="item__text">{{ 'rate_text' | translate }}</div>
          <!-- <button mat-flat-button class="button button_upper button_c_icon-primary">
            {{ 'rate' | translate }}
          </button> -->
          <app-rating class="stars" [rating]="offer.rating"></app-rating>
        </div>
        <div class="item__favorite">
          <div>{{ 'bookmark_text' | translate }}</div>
          <button
            mat-icon-button
            color="warn"
            aria-label="button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{ 'addresses' | translate }}">
      <div *ngFor="let office of offices" class="address">
        <a
          class="link link_overlay"
          [routerLink]="['/home/offices', office.id]"
        ></a>
        <mat-icon class="address__location-icon">location_on</mat-icon>
        <div>
          <div>
            {{ [office.street, office.house, office.room] | concat }}
          </div>
          <a
            href="tel:{{ office.phone }}"
            class="address__phone link link_c_default"
            >{{ office.phone }}</a
          >
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-go-back-button class="desktop"></app-go-back-button>
</div>
