@import '/src/app/styles/variables.scss';

::ng-deep .mat-ripple.mat-tab-label.mat-focus-indicator.ng-star-inserted {
  color: $background-light;
  border-radius: 10px 10px 0 0;
  background-color: rgba($color: $background-tabs, $alpha: 0.8);

  &.mat-tab-label-active {
    background-color: rgba($color: $background-tabs, $alpha: 0.9);
    opacity: 0.9;
  }
}

::ng-deep .mat-tab-body-wrapper {
  background-color: $background-light;
  padding: 1.5em 2em;
  line-height: 24px;

  @media screen and (max-width: $mobile) {
    padding: 1em 1em;
  }
}

::ng-deep .mat-tab-label-container {
  text-transform: uppercase;
}

.button {
  text-transform: uppercase;
  color: $blue-primary;

  &--review {
    color: white;
    background-color: $blue-primary;
  }
}

.item {
  padding: 1em 1em;

  &__tab {
    margin-top: 1em;
    background-color: $background-light;
    border-radius: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;

    @media screen and (max-width: $mobile) {
      flex-flow: column;
    }
  }

  &__date-end {
    text-transform: uppercase;
    font-weight: 500;

    @media screen and (max-width: $mobile) {
      align-self: flex-start;
    }
  }

  &__actions {
    display: flex;
  }

  &__copy-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  &__favorite,
  &__rate {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: 0.5em;

    @media screen and (max-width: $mobile) {
      max-width: 140px;
      line-height: 14px;
    }
  }

  &__footer {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
