@import '/src/app/styles/variables.scss';
@import '/src/app/styles/components/tabs.scss';
@import '/src/app/styles/components/addresses.scss';
@import '/src/app/styles/custom-theme.scss';

.item {
  position: relative;
  padding: 0.5em;
  color: $text-primary;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;

    @media screen and (max-width: $mobile) {
      flex-flow: column;
    }
  }

  &__date-end {
    text-transform: uppercase;
    font-weight: 500;

    @media screen and (max-width: $mobile) {
      align-self: flex-start;
    }
  }

  &__actions {
    display: flex;
  }

  &__copy-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
  }

  &__favorite,
  &__rate {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: 0.5em;

    @media screen and (max-width: $mobile) {
      max-width: 140px;
      line-height: 14px;
    }
  }

  &__footer {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
