<div class="rating" *ngIf="rating && offerId">
  <input
    class="rating__star"
    type="radio"
    name="star-{{ offerId }}"
    value="1"
    aria-label="Terrible"
    checked
  />
  <input
    class="rating__star"
    type="radio"
    name="star-{{ offerId }}"
    value="2"
    aria-label="Passable"
  />
  <input
    class="rating__star"
    type="radio"
    name="star-{{ offerId }}"
    value="3"
    aria-label="Normal"
  />
  <input
    class="rating__star"
    type="radio"
    name="star-{{ offerId }}"
    value="4"
    aria-label="Good"
  />
  <input
    class="rating__star"
    type="radio"
    name="star-{{ offerId }}"
    value="5"
    aria-label="Excellent"
  />
</div>
