<mat-spinner class="table__spinner" *ngIf="isLoading"></mat-spinner>

<div class="table mat-elevation-z8" [hidden]="isLoading">
  <div class="table__header">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      class="table__filter"
      aria-label="Filter Vendors"
      (click)="applyFilter(group.value, 'isActive')"
    >
      <mat-button-toggle value="">All</mat-button-toggle>
      <mat-button-toggle value="true">Active</mat-button-toggle>
      <mat-button-toggle value="false">Inactive</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="table__body">
    <table class="full-width-table" mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let office">
          <button
            class="button_edit"
            routerLink="/admin/vendors/{{ vendorId }}/offices/{{ office.id }}"
            mat-icon-button
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let office">{{ office.id }}</td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
        <td mat-cell *matCellDef="let office">{{ office.country }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let office">{{ office.city }}</td>
      </ng-container>

      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Street</th>
        <td mat-cell *matCellDef="let office">{{ office.street }}</td>
      </ng-container>

      <ng-container matColumnDef="house">
        <th mat-header-cell *matHeaderCellDef>House</th>
        <td mat-cell *matCellDef="let office">{{ office.house }}</td>
      </ng-container>

      <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef>Room</th>
        <td mat-cell *matCellDef="let office">{{ office.room }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let office">{{ office.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let office">{{ office.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let office; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No availible offices</td>
      </tr>
    </table>
  </div>
  <div class="table__footer">
    <button
      class="button button_add_desktop"
      mat-raised-button
      routerLink="/admin/vendors/{{ vendorId }}/offices/form"
      color="primary"
    >
      Add Office
    </button>
    <mat-paginator
      class="table__paginator"
      #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
    <button
      class="button button_add_mobile"
      mat-fab
      routerLink="/admin/vendors/{{ vendorId }}/offices/form"
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
