<mat-card class="offer-card" *ngIf="offer">
  <div class="offer-card__content">
    <img class="offer-card__image" [src]="offer.photoUrl" alt="offer image" />
    <div class="offer-card__text">
      <div class="offer-card__title">{{ offer.title }}</div>
      <div>
        <a
          class="offer-card__vendor link-reset"
          [routerLink]="['/home/vendors', offer.vendorId]"
          >{{ offer.vendorName }}</a
        >
      </div>
    </div>
  </div>

  <div class="offer-card__properties">
    <div class="stars">
      <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="star">star</mat-icon>
    </div>
    <div class="offer-card__statistics">
      <div class="offer-card__views">
        <mat-icon aria-hidden="false" aria-label="views">visibility</mat-icon>
        <span class="statistics__viewsCount">{{ offer.numberOfViews }}</span>
      </div>
      <div class="offer-card__using">
        <mat-icon aria-hidden="false" aria-label="people">people</mat-icon>
        <span class="statistics__usesCount">{{ offer.numberOfUses }}</span>
      </div>
    </div>
  </div>
  <div class="offer-card__discount">{{ offer.discount }}</div>
</mat-card>
