@import '/src/app/styles/variables.scss';

// variable that is needed only for the layout of this card
$small-card: 1500px;

.offer-card {
  position: relative;
  display: flex;
  align-items: center;
  color: $text-primary;
  margin-bottom: 0.5em;

  &__link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__content {
    display: flex;
  }

  &__image {
    object-fit: cover;
    width: 20%;
    margin-right: 1em;

    @media screen and (max-width: $small-card) {
      max-width: 120px;
    }

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__text {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    @media screen and (max-width: $small-card) {
      position: relative;
      top: 0.3em;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 24px;

    // Limiting text to 2 lines
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  &__vendor {
    position: relative;
    z-index: 2;
    color: $text-secondary;

    &:hover {
      color: $blue-primary;
    }
  }

  &__properties {
    position: relative;
    top: 1em;

    @media screen and (max-width: $small-card) {
      display: flex;
      align-items: flex-start;
      width: auto;
      top: 0em;
    }

    @media screen and (max-width: $mobile) {
      top: 0.3em;
    }
  }

  &__statistics {
    display: flex;
    justify-content: space-around;
    color: $background-icon;

    @media screen and (max-width: $small-card) {
      // we change the order of the items in the container - statistics will be first
      order: -1;
    }
  }

  &__views,
  &__using {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;

    > mat-icon {
      margin-right: 0.1em;

      @media screen and (max-width: $mobile) {
        width: 17px;
        font-size: 17px;
        line-height: 19px;
      }
    }

    @media screen and (max-width: $small-card) {
      margin-right: 0.5em;
      margin-top: 0;
    }

    @media screen and (max-width: $mobile) {
      align-items: flex-start;
    }
  }

  &__discount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba($color: $color-discount, $alpha: 0.3);
    color: $color-discount;
    padding: 0.2em 1em;
    font-size: 18px;
    font-weight: 500;
    border-bottom-left-radius: 0.5em;

    @media screen and (max-width: $small-card) {
      font-size: 16px;
      padding: 0.2em 0.5em;
    }
  }

  @media screen and (max-width: $small-card) {
    flex-flow: column;
    align-items: flex-end;
    padding-bottom: 0.3em;
  }
}

.stars {
  width: 120px;
  height: 24px;
  color: $blue-primary;

  > mat-icon {
    @media screen and (max-width: $mobile) {
      width: 19px;
      font-size: 19px;
    }
  }

  @media screen and (max-width: $mobile) {
    width: 95px;
    height: 19px;
  }
}
