@import '/src/app/styles/variables.scss';

:host {
  width: 100%;
}

.tags {
  padding: 2px 1em 0 1em;
  display: flex;
  height: 36px;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    overflow-x: auto;

    // hide scrollbar in chrome
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    border: 1px solid $text-secondary;
    background-color: $background-light;
    color: $text-secondary;
    cursor: pointer;

    &:hover {
      border: 1px solid $blue-accent;
      color: $blue-accent;
    }

    &:focus {
      border: 1px solid $blue-primary;
      color: $blue-primary;
    }

    &__active {
      border: 1px solid $blue-primary;
      color: $blue-primary;
    }
  }

  &::ng-deep .mat-chip-list-wrapper {
    @media screen and (max-width: $tablet) {
      flex-wrap: nowrap;
    }
  }
}

.mat-chip.mat-standard-chip::after {
  // this style turn off :hover effect from mat-button
  background-color: transparent;
}
