@import '../../styles/custom-theme.scss';

.header {
  display: flex;
  align-items: center;
  width: 100%;

  &__logo {
    display: block;
    height: 35px;
    width: 200px;
    background-image: url(../../../assets/images/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
    @media screen and (max-width: 768px) {
      height: 35px;
      width: 70px;
      background-image: url(../../../assets/images/logo_mobile.svg);
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__nav {
    height: 100%;

    > .button {
      height: 100%;
      border-radius: 0;
    }
  }

  &__username {
    margin: 0 2em;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    &__username {
      display: none;
    }
    &__nav {
      display: none;
    }
  }
}
