<div class="header">
  <a
    class="header__logo"
    routerLink="home"
    (click)="navigationService.goToHomePage()"
  ></a>
  <div class="header__toolbar">
    <a
      class="button button_s_l"
      mat-button
      *ngIf="
        navigationService.isHomePageOpened && navigationService.role !== 'User';
        else adminPageButton
      "
      routerLink="home"
      (click)="navigationService.toggleHomePage()"
    >
      {{ 'home' | translate }}
      <mat-icon>home</mat-icon>
    </a>
    <ng-template #adminPageButton>
      <a
        class="button button_s_l"
        mat-button
        routerLink="admin"
        *ngIf="navigationService.role !== 'User'"
        (click)="navigationService.toggleHomePage()"
      >
        {{ 'manage' | translate }}
        <mat-icon>build</mat-icon>
      </a>
    </ng-template>
    <app-location class="header__location"></app-location>
    <app-language></app-language>
  </div>
  <button
    class="button button_search"
    mat-icon-button
    (click)="navigationService.toggleToolbar()"
  >
    <mat-icon class="icon icon_s_l">search</mat-icon>
  </button>
  <div class="header__profile" (click)="navigationService.toggleSidenav()">
    <span class="header__username">{{
      user.firstName + ' ' + user.lastName
    }}</span>
    <button class="button button_no-hover" mat-icon-button>
      <mat-icon class="icon icon_s_l">perm_identity</mat-icon>
    </button>
  </div>
</div>
