@import '../../styles/custom-theme.scss';

.header {
  display: flex;
  align-items: center;
  width: 100%;

  &__spacer {
    flex: 1 1 auto;
  }

  &__nav {
    height: 100%;

    > .button {
      height: 100%;
      border-radius: 0;
    }
  }

  &__username {
    margin: 0 2em;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    &__username {
      display: none;
    }
    &__nav {
      display: none;
    }
  }
}
