<div class="header">
  <a
    class="header__logo"
    routerLink="home"
    (click)="adminPageVisible = false"
  ></a>
  <div class="header__toolbar">
    <a
      class="button button_l"
      mat-button
      *ngIf="!adminPageVisible; else homePageButton"
      routerLink="admin"
      (click)="toggleAdminPage()"
    >
      Manage
    </a>
    <ng-template #homePageButton>
      <a
        class="button button_l"
        mat-button
        routerLink="home"
        (click)="toggleAdminPage()"
      >
        Home
      </a>
    </ng-template>
    <app-language class="button button_l"></app-language>
    <app-location class="button button_l"></app-location>
  </div>
  <div class="header__profile header__profile_bg">
    <span class="header__username">Name Surname</span>
    <button class="button button_icon" mat-icon-button (click)="openSidenav()">
      <mat-icon class="icon icon_l">perm_identity</mat-icon>
    </button>
  </div>
</div>
