@import '../../styles/custom-theme.scss';
@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid rgba(61, 61, 61, 0.4);
  color: $text-primary;

  &__logo {
    display: block;
    height: 35px;
    width: 200px;
    margin-right: auto;
    padding: 0 1em;
    background-image: url(../../../assets/images/logo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      height: 30px;
      width: 60px;
      background-image: url(../../../assets/images/logo_mobile.svg);
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
  }

  &__username {
    margin: 0 2em;
    font-size: 1.4em;
  }

  &__toolbar {
    display: flex;
    height: 100%;

    > .button {
      display: flex;
      align-items: center;
      border-radius: 0;

      mat-icon {
        padding-bottom: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    height: 48px;

    &__username {
      display: none;
    }
    &__toolbar {
      display: none;
    }
  }

  @media screen and (min-width: 769px) {
    &__profile {
      &_bg {
        background-color: $background-blue;
        border-left: 1px solid rgba(61, 61, 61, 0.4);
      }
    }

    .button {
      &_search {
        display: none;
      }
    }
  }
}
