<div class="offer-popup" *ngIf="office">
  <a
    class="offer-popup__link-overlay link"
    [routerLink]="['/home/offices', office.id]"
  ></a>
  <img
    class="offer-popup__image"
    src="/assets/images/vendor_logo.jpg"
    alt="vendor logo"
  />
  <div>
    <div class="offer-popup__name">{{ vendorName }}</div>
    <div class="offer-popup__address">{{ address }}</div>
    <a
      href="tel:{{ office.phone }}"
      class="link address__phone offer-popup__phone"
      >{{ phoneNumber }}</a
    >
  </div>
</div>
