@import '/src/app/styles/variables.scss';

.offer-popup {
  display: flex;
  align-items: center;
  padding: 1em 0.7em;
  cursor: pointer;

  &__image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 0.7em;
  }

  &__name {
    font-size: 15px;
    font-weight: 400;
  }

  &__address {
    font-size: 13px;
  }

  &__phone {
    color: $text-secondary;
  }
}

.leaflet-popup-content {
  width: 240px;
  margin: 0;
  @media screen and (max-width: 768px) {
    width: 200px;
  }
}

.leaflet-popup-content-wrapper {
  padding: 0;
}
