@import '/src/app/styles/variables.scss';
@import '/src/app/styles/blocks/links.scss';

.offer-popup {
  display: flex;
  align-items: center;
  padding: 1em 0.7em;
  cursor: pointer;

  &__link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 0.7em;
  }

  &__name {
    font-size: 15px;
    font-weight: 400;
  }

  &__address {
    font-size: 13px;
  }

  &__phone {
    position: relative;
    z-index: 2;
  }
}

.leaflet-popup-content {
  width: 240px;
  margin: 0;

  @media screen and (max-width: $tablet) {
    width: 200px;
  }
}

.leaflet-popup-content-wrapper {
  padding: 0;
}

// overriding class styles
.leaflet-container a {
  color: $text-secondary;
}
