<form class="search-form" (ngSubmit)="searchBy()">
  <div class="search-form__field">
    <input
      type="text"
      class="search-form__input"
      placeholder="{{ 'search' | translate }}"
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <button class="button button_c_primary" mat-icon-button>
      <mat-icon class="icon icon_s_s">search</mat-icon>
    </button>
  </div>
  <mat-autocomplete #auto="matAutocomplete" class="search-form__autocomplete">
    <mat-option *ngFor="let value of filteredData | async" [value]="value">
      {{ value }}
    </mat-option>
  </mat-autocomplete>
</form>
