<div *ngIf="(isLoading$ | async) === false">
  <div class="office">
    <div class="card">
      <img
        src="/assets/images/vendor_logo.jpg"
        alt="office logo"
        class="card__image"
      />
      <div class="office__info">
        <a
          class="link link_c_default card__name office__vendor"
          [routerLink]="['/home/vendors', office.vendorId]"
        >
          {{ vendor.name }}
        </a>
        <div class="card__title office__contact">
          <mat-icon>location_on</mat-icon
          >{{ [office.street, office.house, office.room] | concat }}
        </div>
        <a
          href="tel:{{ office.phone }}"
          class="link link_c_default card__title office__contact"
        >
          <mat-icon>call</mat-icon>{{ office.phone }}
        </a>
        <a
          href="https://{{ vendor.website }}"
          target="_blank"
          class="link link_c_default card__link office__website"
        >
          <mat-icon>public</mat-icon>{{ 'website' | translate }}
        </a>
      </div>
    </div>

    <mat-tab-group mat-stretch-tabs class="tab">
      <mat-tab label="{{ 'offers' | translate }}" class="office__offers">
        <a
          class="link"
          *ngFor="let offer of offers"
          [routerLink]="['/home/offers', offer.id]"
        >
          <app-offer-item
            [offer]="offer"
            class="offer-card"
          ></app-offer-item></a
      ></mat-tab>

      <mat-tab label="{{ 'description' | translate }}">
        <div class="tab__item_indent">
          {{ vendor.description || 'description_text' | translate }}
        </div>
      </mat-tab>
    </mat-tab-group>

    <app-go-back-button class="desktop"></app-go-back-button>
  </div>
</div>
