@import '/src/app/styles/variables.scss';
@import '/src/app/styles/blocks/links.scss';
@import '/src/app/styles/blocks/text.scss';

:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.offers {
  flex: 1 0 1px;
  overflow: auto;
  padding: 0.5em;

  &__text {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 500;
  }
}

.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
