@import '/src/app/styles/variables.scss';

.link {
  text-decoration: none;

  &_c {
    &_default {
      color: $text-primary;
    }

    &_primary {
      color: $blue-primary;

      &:hover {
        color: $blue-accent;
        transition: color 0.1s linear;
      }
    }
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
