@import '/src/app/styles/variables.scss';

.text {
  // size
  &_s {
    // large
    &_l {
      font-size: 16px;
      @media screen and (max-width: $tablet) {
        font-size: 14px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 12px;
      }
    }
    // medium
    &_m {
      font-size: 14px;
    }
    // small
    &_s {
      font-size: 12px;
    }
  }
  // color
  &_c {
    &_primary {
      color: $text-primary;
    }

    &_accent {
      color: $blue-primary;
    }
  }

  &_align {
    &_l {
      text-align: left;
    }
    &_c {
      text-align: center;
    }
    &_r {
      text-align: right;
    }
  }
  //uppercase
  &_upper {
    text-transform: uppercase;
  }
}
