@import '/src/app/styles/variables.scss';

.table {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  &__body {
    overflow: auto;
    @media screen and (max-width: $mobile) {
      flex: 1 0 1px;
    }

    .full-width-table {
      width: 100%;
      min-width: 600px;

      &::ng-deep .mat-cell {
        padding-right: 0.25em;
        &:first-of-type {
          padding-left: 1em;
        }
      }
    }
  }

  &__header,
  &__footer {
    display: flex;
    align-items: center;
    padding: 0 1em;
    background-color: #fff;
  }

  &__header {
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__spinner {
    margin: 0 auto;
  }

  &__search {
    margin: 1em 0;
    &::ng-deep .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
  }

  &__paginator {
    margin-left: auto;
    &::ng-deep .mat-paginator-page-size-label,
    &::ng-deep .mat-paginator-range-label {
      margin: 0;
    }

    @media screen and (max-width: $mobile) {
      &::ng-deep .mat-paginator-container {
        justify-content: flex-start;
      }
    }
  }
}

.button {
  &_edit {
    width: max-content;
  }

  &_add_mobile {
    display: none;
    margin-left: 1em;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
  &_add_desktop {
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
}
