<mat-spinner class="table__spinner" *ngIf="isLoading"></mat-spinner>

<div class="table mat-elevation-z8" [hidden]="isLoading">
  <div class="table__header">
    <mat-form-field
      class="table__search"
      [class.table__search_hidden]="vendorId"
      appearance="outline"
    >
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter(input.value, 'title')" #input />
    </mat-form-field>
    <i class="spacer"></i>
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      class="table__filter"
      aria-label="Filter Vendors"
      (click)="applyFilter(group.value, 'isActive')"
    >
      <mat-button-toggle value="">All</mat-button-toggle>
      <mat-button-toggle value="true">Active</mat-button-toggle>
      <mat-button-toggle value="false">Inactive</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="table__body">
    <table
      class="full-width-table"
      mat-table
      matSort
      matSortActive="updated"
      matSortDirection="desc"
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let offer">
          <button
            class="button_edit"
            [routerLink]="[offer.id]"
            mat-icon-button
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell class="text" *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let offer; let i = index">
          {{ i + 1 + this.paginator.pageIndex * this.paginator.pageSize }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vendorName">
        <th
          mat-header-cell
          class="text text_upper"
          *matHeaderCellDef
          mat-sort-header
        >
          Brand
        </th>
        <td mat-cell *matCellDef="let offer">{{ offer.vendorName }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th
          mat-header-cell
          class="text text_upper"
          *matHeaderCellDef
          mat-sort-header
        >
          Title
        </th>
        <td mat-cell *matCellDef="let offer">
          {{ offer.title | truncate: 20 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="discout">
        <th mat-header-cell class="text text_upper" *matHeaderCellDef>
          Discount
        </th>
        <td mat-cell *matCellDef="let offer">{{ offer.discount }}</td>
      </ng-container>

      <ng-container matColumnDef="validFrom">
        <th
          mat-header-cell
          class="text text_upper text_align_l"
          *matHeaderCellDef
          mat-sort-header
        >
          Valid From
        </th>
        <td mat-cell *matCellDef="let offer">
          {{ offer.dateStart | date: 'dd.MM.yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="validTo">
        <th
          mat-header-cell
          class="text text_upper text_align_l"
          *matHeaderCellDef
          mat-sort-header
        >
          Valid To
        </th>
        <td mat-cell *matCellDef="let offer">
          {{ offer.dateEnd | date: 'dd.MM.yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th
          mat-header-cell
          class="text text_upper"
          *matHeaderCellDef
          mat-sort-header
        >
          Updated
        </th>
        <td mat-cell *matCellDef="let offer">
          {{ offer.updated | date: 'dd.MM.yyyy' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No results matching "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
  <div class="table__footer">
    <button
      class="button button_add_desktop"
      mat-raised-button
      *ngIf="vendorId"
      [routerLink]="['form']"
      color="primary"
    >
      Add Offer
    </button>
    <mat-paginator
      class="table__paginator"
      #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
    <button
      class="button button_add_mobile"
      mat-fab
      *ngIf="vendorId"
      [routerLink]="['form']"
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
