@import '/src/app/styles/variables.scss';

.toolbar {
  background-color: #fff;
  display: flex;
  height: 64px;
  align-items: center;

  @media screen and (max-width: $tablet) {
    display: none;

    &_opened {
      display: block;
      height: 95px;
      background: rgba(255, 255, 255, 0);

      @media screen and (max-width: $tablet) {
        position: absolute;
        z-index: 9999;
      }
    }
  }
}
