@import '/src/app/styles/variables.scss';

.toolbar {
  display: flex;
  align-items: center;
  height: $large-height;
  border-bottom: $border-primary;

  @media screen and (max-width: $tablet) {
    display: none;
    border: none;

    &_opened {
      position: absolute;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      z-index: 1201;
    }
  }
}

.overlay {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1200;

  &_visible {
    @media screen and (max-width: $tablet) {
      display: block;
    }
  }
}
